<configuration>
  <log4net>
    <appender name="RollingAppender" type="log4net.Appender.RollingFileAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd" />
      <file type="log4net.Util.PatternString" value="robotblocks-%date{yyyyMMdd}.log" />
    </appender>

    <root>
      <level value="RollingAppender" />
      <appender-ref ref="RollingAppender" />
    </root>
  </log4net>
</configuration>